@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
    section {
    margin-bottom: 100px; 
  }